body {
    font-family: 'Baloo Thambi 2', sans-serif;
    background-color: #fff;
    margin: 0;
}

.text-pink {
    color: #fc9b98;
}

.bg-gradient-custom {
    background: linear-gradient(323deg, #FFE7C1 1%, #FFB6B6 100%);
}

.shadow-pink {
    box-shadow: 2px 2px 1px #FFB9B7;
}

.shadow-pink-inset {
    box-shadow: 2px 2px 4px #FFB9B7 inset;
}

.circle {
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 4px #FFB9B7;
    position: absolute;
    z-index: 9999;
}

.circle-blank {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    position: absolute;
}

.btn-custom {
    background: white;
    border: 1px solid #FD9B98;
    border-radius: 7px;
    font-size: 0.7rem;
    font-weight: 700;
    color: #FD9B98;
    font-family: 'Baloo Thambi 2', sans-serif;
    transition: all 0.3s ease;
}

.page-wrapper {
  min-height: 100vh; /* full viewport height */
  position: relative;
  opacity: 0;
  background: transparent !important;
  pointer-events: none;
}

.footer {
  background-color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  position: static; /* normal flow */
  box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
  z-index: 10000;
}

